- model_class = Customer
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
- if flash[:just_created]
  .jumbotron
    %h2 You have registered successfully!
    %p Go on, transfer some money and save on fees!
%h2 Brokers
%ul
  - @customer.brokers.each do |broker|
    %ul= broker.name

%h2 Company
%table.table.table-striped
  %tr
    %td Name
    %td= @customer.company.name
  - @customer.company.supporting_document.try(:file_file_name).try do |file_name|
    %tr
      %td File
      %td= file_name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), customers_path, :class => 'btn'
